# Day 17 – Python MySql

# Create a connection for DB and print the version using a python program

In [5]:
import mysql.connector as sql

mydb= sql.connect(host = "localhost",
                       user="root",
                       password = "root")

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000221324BEDC0>

# Create a multiple tables & insert data in table

In [33]:

import sys
cur = mydb.cursor()
cur.execute("SELECT VERSION()")
data = cur.fetchone()
print("DBMS Version :",str(data))

DBMS Version : ('8.0.25',)

In [34]:
dbse = mydb.cursor()

dbse.execute("SHOW DATABASES")

for entry in dbse:
  print(entry)

('information_schema',)
('mydatabase',)
('mydatabase1',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [37]:

mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="root",
  database="mydatabase1"
)
dbse = mydb.cursor()

dbse.execute("CREATE TABLE customers (Employee_name VARCHAR(255), Employee_dep VARCHAR(255), Employee_id VARCHAR(255))")

In [38]:

dbse = mydb.cursor()

dbse.execute("SHOW TABLES")

for value in dbse:
  print(value)

('customers',)

In [40]:

dbse = mydb.cursor()

dbse.execute("CREATE TABLE Office (emp_name VARCHAR(255), Employee_id VARCHAR(255) ,EMP_ADDRESS VARCHAR(255))")
dbse.execute("CREATE TABLE Student(rollno INT(24) , STUD_NAME VARCHAR(255) , MARK INT(3))")
dbse.execute("SHOW TABLES")

for value in dbse:
  print(value)

('customers',)
('office',)
('student',)

# Create a employee table and read all the employee name in the table using for loop

In [44]:

mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="root",
  database="mydatabase1"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Employee1 (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [45]:
mydb = mysql.connector.connect(
  host="localhost",
 user="root",
  password="root",
  database="mydatabase1"
)
mycursor = mydb.cursor()

sql = "INSERT INTO Employee1 (id, name, address) VALUES (%s, %s,%s)"
val = ("1","ABC","HYD")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted successfully")

1 record inserted successfully

In [46]:

mycursor = mydb.cursor()

sql = "INSERT INTO Employee1 (id, name, address) VALUES (%s, %s,%s)"
val = ("2","DEF","Chennai")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "another record inserted successfully.")

1 another record inserted successfully.

In [47]:

mycursor = mydb.cursor()

sql = "INSERT INTO Employee1 (id, name, address) VALUES (%s, %s,%s)"
val = ("3","GHI","Banglore")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "another record inserted successfully.")

1 another record inserted successfully.

In [49]:

mycursor = mydb.cursor()

sql = "INSERT INTO Employee1 (id,name, address) VALUES (%s,%s,%s)"
val = [
    ("4","XYZ","Patna"),
    ("5","MNO","Kerela"),
    ("6","IJK","Andhra"),
    ("7","PQR","HYD")
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

IntegrityError: 1062 (23000): Duplicate entry '4' for key 'employee1.PRIMARY'

In [50]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Employee1")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'ABC', 'HYD')
(2, 'DEF', 'Chennai')
(3, 'GHI', 'BAnglore')
(4, 'XYZ', 'Patna')
(5, 'MNO', 'Kerala')
(6, 'IJK', 'Andhra')
(7, 'PQR', 'HYD')

In [51]:

mycursor = mydb.cursor()

mycursor.execute("SELECT name FROM Employee1")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('ABC',)
('DEF',)
('GHI',)
('XYZ',)
('MNO',)
('IJK',)
('PQR',)